<div class="container" style="margin-top: 50px">
  <div class="row">
    <div class="d-flex">

      <!-- <div class="col-9 d-flex align-content-start">
        <header class="col-3 m-auto">
          <span
            >Showing <strong>10 </strong>of <strong>16</strong> Results
          </span>
        </header>

        <div class="col-6 d-flex justify-content-center align-items-center">
          <input
            type="text"
            class="form-control"
            style="width: 500px"
            placeholder="Search"
          />
          <button class="btn btn-outline-primary mx-2">Search</button>
          <button class="btn btn-outline-success">Reset</button>

        </div>
      </div>

     


    </div>
  </div>
</div>

<div class="card shadow-sm" *ngFor="let item of preoductListOfCat">
  <img src="{{ img }}" alt="" />
  <div class="card-body">
    <p class="card-text">
      {{ item.description }}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <p>{{ item.price }}</p>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          View
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Edit
        </button>
      </div>
      <small class="text-muted">9 mins</small>
    </div>
  </div>
</div>

<!-- <table style="margin-top: 150px">
  <thead>
    <tr>
      <th>No.</th>
      <th>name</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of preoductListOfCat">
      <td>
        {{ item.Description }}
      </td>
      <td></td>
    </tr>
  </tbody>
</table> -->
<!-- <ul style="margin-top: 150px" *ngFor="let item of preoductListOfCat">
  <li>{{ item.price }}</li>
  <li>{{ item.description }}</li>
</ul> -->
