
<div class="container mt-5 ">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6 col-md-offset-4 my-5 ">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form #f="ngForm"
                    (ngSubmit)="onSubmit(f)">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input type="email"
                          name="email"
                          ngModel
                          email="true"
                          required
                          #email="ngModel"
                          class="form-control"
                          id="resetPasswordEmail"
                          placeholder="Enter email">
                         
                        </div>
                        <span class="text-danger" [hidden]="email.valid || email.pristine">Enter your Email</span>
                      </div>
                      <div class="form-group">
                        <button type="submit"
                        name="recover-submit"
                        [disabled]="f.invalid"
                        class="btn btn-lg btn-primary btn-block my-3">Reset Password </button>
                      </div>
                      
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
    </div>
	</div>
</div>

