<div class="container" style="max-width: 500px">
  <h3 class="mb-3 mt-5 text-center">Add product</h3>
  <div class="form-group">
    <input
      type="text"
      [(ngModel)]="proObj.id"
      class="form-control"
      placeholder="id"
    />
    <input
      type="text"
      [(ngModel)]="proObj.name"
      class="form-control"
      placeholder="name"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      [(ngModel)]="proObj.price"
      class="form-control"
      placeholder="price"
    />
  </div>
  <div class="form-group">
    <input
      type="text"
      [(ngModel)]="proObj.description"
      class="form-control"
      placeholder="description"
    />
    <input
      type="text"
      [(ngModel)]="proObj.image"
      class="form-control"
      placeholder="image "
    />
    <input
      type="text"
      [(ngModel)]="proObj.category_Id"
      class="form-control"
      placeholder="category_Id "
    />
  </div>
  <div class="form-group">
    <button
      class="btn btn-success btn-lg btn-block"
      (click)="addproduct(proObj)"
    >
      Add product
    </button>
  </div>
</div>
