<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 border-bottom container-fluid fixed-top bg-white"
>
  <h3>Store</h3>

  <nav class="d-flex py-2 text-uppercase" style="font-size: larger">
    <a class="mx-3 py-2 text-dark text-decoration-none" routerLink="/home"
      >Home</a
    >
    <a
      class="mx-3 py-2 text-dark text-decoration-none"
      routerLink="/products"
      routerLinkActive="active"
      >Products</a
    >
    <a
      class="mx-3 py-2 text-dark text-decoration-none"
      routerLink="/shop"
      routerLinkActive="active"
      >Shop</a
    >
    <a
      class="mx-3 py-2 text-dark text-decoration-none"
      routerLink="contacts"
      routerLinkActive="active"
      >Contact</a
    >
  </nav>

  <div class="d-flex align-items-center">
    <a class="position-relative mx-5">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a
      class="mx-3 py-2 btn btn-outline-secondary mr-2"
      routerLink="login"
      routerLinkActive="active"
      >Logn in</a
    >
    <a
      class="mx-3 py-2 btn btn-outline-secondary mr-3"
      routerLink="register"
      routerLinkActive="active"
      >Register</a
    >
  </div>
</div>
