<section class="contact">
    <div class="content">
        <h2> Contact us</h2>
        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam officia ducimus quidem neque ab qui
            perferendis! Necessitatibus quia praesentium sapiente?</p> -->
    </div>
    <div class="container">
        <div class="contactinfo">
            <div class="box">
                <div class="icon" style="background-color: #fff;color: rgba(237,27,36,255);" onclick="location.href='https://goo.gl/maps/Bg3Bg3negZfn5kBr9'" >
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="text">
                    <!-- <h3 style="color: rgba(237,27,36,255);">Address</h3>  -->
                    <p>13-mahmoud Gom0aa<br>Asafra-bahry-Alexandria</p>
                </div>
            </div>
            <div class="box">
                <div class="icon" onclick="location.href='https://wa.me/201111841611'; "   style="background-color: rgba(41,178,0,255); color:#fff;"><i class="fab fa-whatsapp"></i></div>
                <div class="text">
                    <!-- <h3>Phone</h3> -->
                    <p style="margin-top: 15px;">+20-111-184-1611</p>
                </div>
            </div>
            <div class="box">
                <div class="icon" onclick="location.href='mailto:moustafa.mohamed.abdelazim@gmail.com?subject=Hello&body=lorem daasd asd  asf as ddasd adsdfa sdsdff asdsdf asddf adf asdfadsdfassdf '"><i class="fas fa-at"></i></div>
                <div class="text">
                <!-- <h3>Email</h3>  -->
                    <p style="margin-top: 15px;">moustafa.mohamed.abdel-azim@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="contactForm">
            <form action="">
                <h2>Send Message </h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required" id="textbody"></textarea>
                    <span>Type your Message</span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Send" required="required">
                    
                </div>
            </form>
        </div>
    </div>
</section>