
<div class="container">
  <div class="col-md-6 col-sm-12">

    <h5 class="text-warning mt-5">Brands</h5>
    <ul class="list-group ">
      <li class="list-group-item d-flex justify-content-center">
        <a class="nav-link" href="#">table</a>
      </li>
    
      
      <li class="list-group-item d-flex justify-content-center">
        <a class="nav-link" href="#">bed</a>
      </li>
    
      <li class="list-group-item d-flex justify-content-center">
        <a class="nav-link" href="#">Sofa</a>
      </li>
    
      <li class="list-group-item d-flex justify-content-center">
        <a class="nav-link" href="#">chair</a>
      </li>
      
      </ul>
  </div>
</div>



